@import "~bootstrap/scss/bootstrap";

$alt-color: $cyan;
$body-bg-color: rgba(255, 255, 255, 0.9);
$font-color: $light;

html,
body {
  background-color: rgb(57, 169, 219);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.failure {
  color: red;
}

.success {
  color: green;
}

#game-controls {
  margin: 0 auto;
}

#frame {
  margin: 0 auto;
  max-width: 600px;

  .box {
    display: flex;
    font-size: 100px;
    font-weight: bold;
    color: #fdfeff;
    height: 200px;
    width: 200px;
    border: 5px solid $gray-200 !important;
    background-color: #538fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
  }
}

// novos css

#overlay {
  width: 95vw;
  max-width: 700px;
  margin: 3% auto;
  height: 95vh;
  background-color: $body-bg-color;
  border-radius: 1%;

  // display: grid;
  // grid-template-areas:
  //   "header header"
  //   "nav main"
  //   "footer footer";
  // grid-template-columns: minmax(auto, 12em) 5fr;
  //   grid-template-rows: auto 1fr auto;
}

#logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
}

#logo img {
  margin: 0 auto;
}

#logo h1 {
  margin: 0 auto;
  padding: 30px 0px;
}

// h1 {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
// }

footer {
  padding: 60px 0px;
}

footer p {
  position: relative;
  display: flex;
  justify-content: center;
}

// ACHAR UMA SOLUCAO PARA ISSO
@media (max-width: 768px) {
  #frame {
    max-width: 100px;
  }

  .box {
    height: 50px;
    width: 50px;
  }
}

// Run Server `grunt server`
