@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
   background-color: $body-bg-color;
}

.failure {
   color: red;
}

.success {
   color: green;
}

#game-controls {
   margin: 0 auto;
}

#frame {
   margin: 0 auto;
   max-width: 600px;

   .box {
      display: flex;
      font-size: 100px;
      font-weight: bold;
      color: #fdfeff;
      height: 200px;
      width: 200px;
      border: 5px solid $gray-200 !important;
      background-color: #538fff;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 1s;
   }

   #p1 {
      color: white;
      font-weight: bold;
   }

   #p2 {
      color: white;
      font-weight: bold;
   }

   #jogador {
      font-size: 38px;
   }
}



