@import "~bootstrap/scss/bootstrap";

$alt-color: $cyan;
$body-bg-color: rgba(255, 255, 255, 0.9);
$font-color: $light;
$margin-top: 25px;
$font-family: "Yantramanav", sans-serif;

body {
  background-color: rgb(57, 169, 219);
}

#pagecontainer {
  width: 95vw;
  margin: 0 auto;
  height: 100%;
  background-color: $body-bg-color;
  // border-radius: 1%;
  position: relative;
}

#signOutHide {
  display: flex;
  justify-content: flex-start;
}

// LOGIN - START
#login {
  display: flex;
  justify-content: center;
}

// Header - Start
header {
  padding-bottom: 2.5rem;
}

#logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
}

#logo img {
  margin: 0 auto;
}

#logo h1 {
  color: #004e89;
  font-family: $font-family;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

#logo h2 {
  color: #aaa;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: $margin-top;
}

#display-message {
  display: flex;
  justify-content: center;
}

.failure {
  color: red;
  font-family: $font-family;
}

.success {
  color: green;
  font-family: $font-family;
}

// Buttons
#game-controls {
  text-align: center;
  margin: 0 auto;
}

#game-controls a {
  background-color: #9dd1f1;
  border-radius: 3px;
  color: #004e89;
  font-family: "Yantramanav", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

// Main - Start
main {
  padding-bottom: 2.5rem;
  display: block;
}

#frame {
  text-align: center;
  margin: 25px 25px;
  top: 30px;
  width: 650px;
  margin: 0 auto;

  .flex-row-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-row-box > .box {
    flex: 1 1 200px; /*grow | shrink | basis */
    font-size: 100px;
    font-weight: bold;
    color: #538fff;
    height: 200px;
    border: 2px solid #9dd1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
  }

  .box:hover {
    background-color: #004e89;
    border-color: #004e89;
  }
}
a#viewGameBoard {
  display: flex;
  flex-wrap: wrap;
}

// FOOTER - START
footer {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-top: 2.5rem;
}

footer p {
  // position: relative;
  // display: flex;
  // justify-content: center;
  font-family: $font-family;
}

// ACHAR UMA SOLUCAO PARA ISSO
@media (max-width: 768px) {
  #frame {
    max-width: 100px;
  }

  .box {
    height: 50px;
    width: 50px;
  }
}

// Run Server `grunt server`
